<head>
    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    <link rel="stylesheet" href="header.component.css">
</head>

<body>
    <div class="wrapper">
        <p>Tweet APP For</p>
        <div class="words">
            <span>Capture</span>
            <span>And</span>
            <span>Share</span>
            <span>World's</span>
            <span>Moments</span>
        </div>
    </div>
</body>