<div class="panel panel-info">
    <div class="panel-heading">
        <h5>{{tweet.username}}</h5></div>
    <div class="panel-body">{{tweet.message}}</div>
    <div style="margin-bottom:2% ;">
        &nbsp;
        <button type="button" class="btn btn-default btn-sm" (click)="onTweetLike(tweet.id)">
            <span class="glyphicon glyphicon-thumbs-up"></span> Like
          </button> &nbsp;
          <!-- <button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-thumbs-down"></span> Unlike
          </button> -->
          <span class="label label-warning pull-right" style="margin-right:2% ;">Created on {{tweet.createdDateTime| date}}</span>
          &nbsp;
    </div>
  </div>
